@font-face {
  font-family: 'Muli-ExtraLight';
  src: url("/fonts/Muli-ExtraLight.eot");
  src: url("/fonts/Muli-ExtraLight.eot") format("embedded-opentype"), url("/fonts/Muli-ExtraLight.otf") format("opentype"), url("/fonts/Muli-ExtraLight.svg") format("svg"), url("/fonts/Muli-ExtraLight.ttf") format("truetype"), url("/fonts/Muli-ExtraLight.woff") format("woff"), url("/fonts/Muli-ExtraLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("/font-awesome-4.7.0/fonts/fontawesome-webfont.eot");
  src: url("/font-awesome-4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"), url("/font-awesome-4.7.0/fonts/fontawesome-webfont.woff") format("woff"), url("/bootstrap/") format("truetype"), url("/font-awesome-4.7.0/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  position: relative;
  font-family: "Muli-ExtraLight", sans-serif;
}

.wrapper a {
  font-family: "Muli-ExtraLight";
}

.wrapper p {
  font-family: "Muli-ExtraLight";
  font-size: 1.5em;
}

.wrapper h2 {
  color: #524747;
}

.wrapper h3 {
  font-size: 1em;
  color: #524747;
}

.wrapper h1 {
  font-size: 1.5em;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(241, 238, 238, 0.726);
  z-index: 99;
}

.header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__button {
  width: 50px;
  display: none;
  left: 80%;
}

.header__button div {
  margin-bottom: 4px;
  width: 100%;
  height: 5px;
  background-color: #8a7e7e;
  color: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header__logo {
  font-size: 2em;
  color: #3a3636;
  position: absolute;
  top: 0;
  left: 5%;
}

.header__logo img {
  background: none;
  width: 2.5em;
  height: 2.5em;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 80%;
}

.header__nav a {
  font-family: "Muli-ExtraLight", sans-serif;
  text-decoration: none;
  color: #3a3636;
  font-size: 1.5em;
  margin-left: 2vw;
  font-weight: 200;
}

.header__form {
  position: relative;
  width: 100px;
  margin-right: -80%;
  height: 42px;
}

.header__form input {
  height: 95%;
  width: 0;
  padding: 0 42px 0 15px;
  border: 0;
  outline: 0;
  background: 0 0;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__form input:focus {
  width: 200px;
  z-index: 1;
  background-color: #f3f7f7;
  border-bottom: 2px solid #bdb9ae;
}

.header__form button {
  background: #f3f7f7;
  border: 0;
  height: 100%;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.header__form button:before {
  font-size: 1em;
  color: #f3f7f7;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  height: 700px;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.carusel-item__header {
  z-index: 99;
  position: absolute;
  top: 70%;
  left: 6%;
  color: rgba(255, 255, 255, 0.829);
  font-family: "FontAwesome", sans-serif;
  text-shadow: 4px 2px rgba(39, 28, 28, 0.705);
}

.carusel-item__header h2 {
  color: rgba(241, 238, 238, 0.726);
}

.container-about {
  padding: 2em;
  font-size: larger;
}

.portrait {
  max-width: 100%;
  max-height: 100%;
  padding: 2%;
}

.container-cards {
  padding-top: 2vh;
}

.card {
  margin-bottom: 2vh;
  border: 0;
}

.card img {
  width: 3em;
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
}

.card .card-body {
  border: none;
  background: rgba(241, 238, 238, 0.726);
}

.card .card-body:hover {
  -webkit-box-shadow: 3px 1px rgba(104, 99, 99, 0.562);
          box-shadow: 3px 1px rgba(104, 99, 99, 0.562);
}

.card .btn {
  background: #524747;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  position: relative;
  display: block;
  -webkit-box-shadow: 6px 4px rgba(104, 99, 99, 0.562);
          box-shadow: 6px 4px rgba(104, 99, 99, 0.562);
  padding: 1em;
}

.card .btn:hover {
  background: rgba(117, 53, 53, 0.562);
}

.card .btn img {
  position: absolute;
  right: 1em;
  top: 1em;
}

.card-with-video {
  height: 33vh;
}

.container-contacts {
  margin-bottom: 2em;
  width: 94%;
}

.container-contacts .map {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container-contacts-icons {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-contacts-icons img {
  width: 3em;
  height: 3em;
  margin: 0;
}

.overlay {
  position: relative;
  color: rgba(255, 255, 255, 0.562);
}

.overlay h2 {
  font-weight: bold;
  color: rgba(241, 238, 238, 0.726);
}

.overlay hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.562);
}

.overlay .overlay-content {
  position: absolute;
  top: 5%;
  right: 15%;
}

.container-certificates {
  position: relative;
}

.container-certificates .card-certificates {
  padding: 0;
}

.container-certificates .card-certificates img {
  width: 100%;
}

footer {
  padding: 2vh;
  background: rgba(241, 238, 238, 0.726);
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .footer .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .footer .footer-icon img {
  width: 2.5em;
  height: 2.5em;
}

footer .footer .footer-logo img {
  margin-left: 2vw;
  width: 60%;
  height: 60%;
}

@media (max-width: 1024px) {
  .carousel-item img {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .wrapper p {
    font-size: 1em;
  }
  .wrapper .head3 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 10%;
  }
  .header__button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 30%;
    z-index: 99;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav {
    width: 80%;
    background: rgba(241, 238, 238, 0.726);
    top: 1%;
    right: -100%;
    z-index: 98;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__form {
    margin-right: 0%;
  }
  .header__nav a {
    font-size: 1.5em;
  }
}

@media (max-width: 414px) {
  .carousel-item img {
    height: 300px;
  }
  .carusel-item__header {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 1%;
  }
  .overlay {
    overflow: hidden;
  }
  .overlay .overlay-content {
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  footer {
    padding: 1vh;
    background: rgba(241, 238, 238, 0.726);
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer .footer .footer-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer .footer .footer-icon img {
    width: 2.5em;
    height: 2.5em;
  }
  footer .footer .footer-logo img {
    margin-left: 34vw;
    width: 30%;
    height: 30%;
  }
}

@-webkit-keyframes slidein {
  0% {
    top: 0%;
  }
  25% {
    top: -25%;
  }
  50% {
    top: -50%;
  }
  75% {
    top: -75%;
  }
  100% {
    top: -100%;
  }
}

@keyframes slidein {
  0% {
    top: 0%;
  }
  25% {
    top: -25%;
  }
  50% {
    top: -50%;
  }
  75% {
    top: -75%;
  }
  100% {
    top: -100%;
  }
}
/*# sourceMappingURL=style.css.map */